<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']">HOME</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/artworks']" >Artworks <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/artists']">Artists</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
