<div class="row">
  <div class="col col-12">
    <img src="{{artwork.image}}" class="img-responsive" style="max-width: 750px;">
  </div>
</div>

<br>

<div class="row">
  <div class="col col-12">
    <h1>{{artwork.title}}</h1>
  </div>
</div>

<div class="row">
  <div class="col col-12">
    <p>{{artwork.date}}</p>
  </div>
</div>

<div class="row">
  <div class="col col-12">
    <p>{{artwork.description}}</p>
  </div>
</div>

<div class="row">
  <div class="col col-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle"><span class="caret"></span>Manage Artworks</button>
      <ul class="dropdown-menu">
        <li><a>Edit Artwork</a></li>
        <li><a>Delete Artwork</a></li>
      </ul>
    </div>
  </div>
</div>